*{
  padding: 0;
  margin: 0;  
 transition: none !important;
  animation: none !important;
}
body, html {
    overflow-x: hidden;
}
body{
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
  }
  
  .navbar-nav li a {
    margin-right: 20px;
    color: aliceblue !important;
    text-align: left;
    float: right;
  }
  
  .navbar-toggler {
    outline: none !important;
    color: aqua !important;
    font-size: 20px !important;
  }
  .navbar_{
    color: aliceblue;
    font-size: 40px;
    width: 100;
    font-style: italic;
  }


  #banner{

    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: aliceblue;
    padding-top: 5%;
  }
  .best_{

  font-size: 30px;
  font-weight: 600;
  margin-top: 5%;
  display: flex;
  }
  .col-md-6{
    margin-left: 60px;
  }
  
  .play{
    width: 45px;
    margin: 20px;

  }
   .server{

  margin-top: 50px;


   }
   .tittle{
     margin-top: 30px;

   }
   .tittle::before{
    content: "";
    background: #5f1782;
    height: 5px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);


   }
  
